<!DOCTYPE html>
<html>
<head>
	<title>Elixir: Reset Password</title>
	<style>
		body {
			font-family: Arial, sans-serif;
			background-color: #f2f2f2;
		}
		form {
			background-color: #fff;
			padding: 20px;
			border-radius: 5px;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
			width: 400px;
			margin: 0 auto;
			margin-top: 50px;
		}
		h1 {
			text-align: center;
			color: #333;
			margin-bottom: 30px;
		}
		input[type=text], input[type=password] {
			width: 100%;
			padding: 12px 20px;
			margin: 8px 0;
			display: inline-block;
			border: 1px solid #ccc;
			border-radius: 4px;
			box-sizing: border-box;
		}
		button[type=submit] {
			background-color: #4CAF50;
			color: white;
			padding: 14px 20px;
			margin: 8px 0;
			border: none;
			border-radius: 4px;
			cursor: pointer;
			width: 100%;
		}
		button[type=submit]:hover {
			background-color: #45a049;
		}
	</style>
</head>
<body>
	<h1>Elixir.io</h1>
	<form action="http://localhost:3000/api/v1/token/confirm-password" method="post">
<!-- 		<label for="token">Token:</label> -->
		<input type="hidden" id="token" name="token" value={{ token }}>
		<label for="password">New Password:</label>
		<input type="password" id="password" name="password" placeholder="Enter your new password...">
		<label for="confirmPassword">Confirm New Password:</label>
		<input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm your new password...">
		<button type="submit">Reset Password</button>
	</form>
</body>
</html>