<html>
<head>
    <title> Elixir.io | Stream Call </title>
    <link href="/css/stream_call.css" rel="stylesheet" type="text/css">
    <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
</head>
<body>

    <div id="videos">
        <div id="subscriber"></div>
        <div id="publisher"></div>
    </div>

    <div class="button-container">
        <button id="disconnectButton">Disconnect</button>
    </div>

    <script type="text/javascript" src="/js/stream_call.js"></script>
</body>
</html>